* {
    /* `otf-font-awesome` is required to be installed for icons */

    font-family: "JetBrainsMono Nerd Font", "Roboto Mono", monospace;
    min-height: 5px;


}
window#waybar {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 22px;
  }

window#waybar.hidden {
    opacity: 0.2;
}

#window {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 22px;
  color: #fff;

  margin: 3px 10px;
  padding: 6px 14px;

  font-size: 10px;

}


tooltip {
  background: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  border-radius: 10px;
  padding: 8px 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}




/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}
#workspaces button{
    background: rgba(255, 255, 255, 0.12);
    color: #000;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    margin: 4px 4px;
    padding: 2px 8px;
}  
#workspaces button.active {
  color: #fff;
    background: rgba(255, 255, 255, 0.55);
}


#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


#network,
#pulseaudio,
#clock {
    background: rgba(255, 255, 255, 0.12);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    margin: 4px 4px;
    padding: 2px 8px;
}



/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


/* Bandeja de programas */ 
#tray menu {
  background: rgba(55, 55, 55, 0.5);
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin: 4px 4px;
    padding: 2px 8px;

  }
#tray menu menuitem {
  background: rgba(5, 5, 5, 0.5);
    padding-top: 3px; padding-bottom: 3px;
    font-size: 22px; 
  }
#tray menu menuitem:hover {
  background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: #000;

  }

#tray > .item image {
  padding: 6px;
  border-radius: 10px;
}

#tray > .item:hover image {
  background: rgba(255, 255, 255, 0.18);
}



#network:hover,
#pulseaudio:hover,
#clock:hover {
  border: 2px solid rgba(255, 255, 255, 0.5); /* borda vermelha translúcida */ 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2),
                0 0 3px rgba(255, 255, 255, 0.5); /* brilho hover */ 
}

#network.disconnected {
  background: rgba(255, 0, 0, 0.57);
}

#pulseaudio.muted {
    background-color: #000000;
    color: #fff;
}



/* Botão de media central para controle de musicas */ 


#custom-launch_wofi,
#custom-media {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  margin: 4px 10px 4px 0;
  padding: 2px 8px;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
    transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
}

/* Botão de pesquisa */ 

#custom-launch_wofi{
  margin: 4px 2px 4px 8px;
  padding: 2px 8px;
}

#custom-launch_wofi:hover {
    background: rgba(255, 255, 255, 0.4); /* mais intenso */
}




#custom-media:hover {
    background: rgba(0, 105, 212, 0.7); /* mais intenso */
}


/* Botão power */ 
#custom-power {
  /*background: rgba(0, 105, 212, 0.45);  azul translúcido */
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  margin: 4px 10px 4px 0;
  padding: 2px 8px;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
}



#custom-power:hover {
    background: rgba(255, 0, 0, 0.7); /* mais intenso */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);

}


